*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
body{
    background:linear-gradient(20deg,#f9ce34,  #ee2a7b ,  #6228d7) no-repeat;
    background-size: contain;
    min-height: 100dvh;

}
.topic{
    text-align: center;
    color: white;
    background-color: #f70098d7;
    padding: 20px;

}
section{
    display: flex;
    flex-direction: column;
    place-items: center;
}
.container{
    display: flex;
    height:80px;
    width: 600px;
    background: white;
    margin: 50px;
    padding: 20px;
    place-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px ;
}
.inputtxt{
    height: 60px;
    width: 300px;
    outline: none;
    border: 2px solid rgb(255, 0, 157);
    border-radius: 10px;
    padding: 0px 0px 0px 20px;
    font-size: larger;
    margin: 0px 30px ;
}
.inputtxt:focus{
    backdrop-filter:shadow(20px 20px 20px red)
}
.addbtn{
    outline: none;
    border: none;
    height: 60px;
    width: 80px;
    font-size: larger;
    color: white;
    background: rgb(255, 0, 157);
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
    transition: 300ms;

}
.addbtn:hover{
    opacity: 0.8;
}
.addbtn:active{
    transform: scale(0.8);
}
.list{
    width:640px ;
    height:100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px ;
    overflow: hidden;
}
#taskno{
    text-align: center;
    padding: 20px;
    color: rgb(64, 63, 63);
}
.task-item{
    display: flex;
    justify-content: space-between;
}
.task{
    font-size:1.5rem;
    margin:10px 0px 10px 30px ;
    width: 400px;
}
.deletebtn,.renamebtn{
    width: 2%;
    border: none;
    background: transparent;
    cursor: pointer;

}
.deletebtn{
    margin-right: 40px;
}
#trash,#edit{
    font-size: 1.8rem;
    width: 30px;
    color: rgba(48, 48, 48, 0.619);
}