<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="login.css">
    <title>PMSSS Login</title>
    <script src="script.js" defer></script>
</head>
<header class="#">
    <a class="reload" href="#"><span id="hatlogo" class="material-symbols-outlined">school
        </span>Prime Minister Special Scholarship Scheme</a>
        <img class="aictelogo" src="image.png">
    </header>
<body>
    <div class="wrapper">
        <div class="poster">
            <div class="logoset"><svg  title="Swapnil1101, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Government_of_India_logo.svg"><img width="412" alt="Sanjarani Ganta" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Government_of_India_logo.svg/412px-Government_of_India_logo.svg.png?20220331190844"></svg></div>
        </div>
        <div class="regbtn">Register</div>
        <div class="logbtn">login</div>
        <div class="loginset">
            <img class="pic" src="https://file.aiquickdraw.com/imgcompressed/img/compressed_ccac10591ccd56123f22a37117eaab80.webp">
            <center> <h1 class="heading">PMSSS Login</h1></center>
            <form>
                <input placeholder="Username" type="email" id="Username" required>
                <input placeholder="Password" type="password" id="password" required>
                <span id="show" class="material-symbols-outlined">visibility</span>
                <input placeholder="M-Code" type="text" id="MCode" required> 
                <button type="submit">login</button><br>
                <div class="query"> 
                    <a class="forgot" href="#">forgot password?</a>
                    <a class="conset" href="#">
                        <span id="mailbox" class="material-symbols-outlined">mail</span>Contact Us!
                    </a>
                </div>
            </form>
            
        </div>
        <div class="regset">
            <h1 class="reghead">Register</h1>
            <form >
                <span class="material-symbols-outlined">person</span><input type="text" placeholder="Userame" ><br>
                <span class="material-symbols-outlined">call</span><input type="number" placeholder="Mobile Number" id="phone"><br>
                <span class="material-symbols-outlined">mail</span><input type="email" placeholder="Email ID"  ><br>
                <span class="material-symbols-outlined">lock</span><input type="password" placeholder="Password" ><br>
                <span class="material-symbols-outlined">lock</span><input type="password" placeholder="Confirm Password">
                <button type="submit" class="registerbtn">Register</button>

            </form>
        </div>
    </div>
    <div class="guidlines">Read the <a href="https://www.aicte-india.org/downloads/General%20Guidelines%20on%20PMSSS%20JK%20Scholarships.pdf">Guidelines.</a></div>
    <div class="update">Last Update On 24.08.2024 || 14:08</div>
</body>
<footer>
    
</footer>
</html>